{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <h6>Question {{ current_question }} from {{ number_of_questions }}</h6>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{ completion_percent }}%" aria-valuenow="{{ current_question }}" aria-valuemin="1" aria-valuemax="{{ number_of_questions }}"></div>
        </div>
        <div class="panel panel-primary">
            <form action="" method="post">
            {% csrf_token %}
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{ question }}
                    </h3>
                </div>
                <div class="panel-body">
                    {% for answer in answers %}
                    <div class="radio">
                        <label>
                            <input type="radio" name="answer" id="" value="{{ answer }}" {% if forloop.first %}checked{% endif %}> {{ answer }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
                <hr>
                <div class="panel-footer">
                    <button href="#" class="btn btn-primary " type="submit">Next question</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
